@{
    ViewData["Title"] = "Home Page";
}
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.8/react.js"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.8/react-dom.min.js"/>*@


<div id="app"></div>
<script src="prod/main.bundle.js"></script>
