@{
    ViewData["Title"] = "Home Page";
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.min.js"></script>

<div id="app"></div>
<script type="text/javascript" src="/prod/main.bundle.js"></script>