@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.min.js"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.min.js"/>

<div id="app"></div>
<script src="/prod/main.bundle.js" />